<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
	<typeAliases>
		<typeAlias type="com.shop.goodee.board.notice.NoticeVO" alias="NoticeVO"/>
		<typeAlias type="com.shop.goodee.util.Pager" alias="Pager"/>
		<typeAlias type="com.shop.goodee.board.notice.NoticeFileVO" alias="NoticeFileVO"/>
		
		<typeAlias type="com.shop.goodee.member.MemberVO" alias="MemberVO"/>
		<typeAlias type="com.shop.goodee.member.RoleVO" alias="RoleVO"/>
		
		
		<typeAlias type="java.lang.Long" alias="Long"/>
		<typeAlias type="java.lang.String" alias="String"/>
		<typeAlias type="java.lang.Integer" alias="Integer"/>
		<typeAlias type="java.util.List" alias="List"/>
	</typeAliases>
</configuration>