<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
	<typeAliases>
		<!-- 하준 -->
		<typeAlias type="com.shop.goodee.purchase.PurchaseVO" alias="PurchaseVO"/>
		<typeAlias type="com.shop.goodee.purchase.PurchaseFileVO" alias="PurchaseFileVO"/>
		<typeAlias type="com.shop.goodee.seller.SellerVO" alias="SellerVO"/>
		<!-- 하준 -->
		<typeAlias type="com.shop.goodee.board.notice.NoticeVO" alias="NoticeVO"/>
		<typeAlias type="com.shop.goodee.util.Pager" alias="Pager"/>
		<typeAlias type="com.shop.goodee.board.notice.NoticeFileVO" alias="NoticeFileVO"/>
		
	
		
		<typeAlias type="com.shop.goodee.member.MemberVO" alias="MemberVO"/>
		<typeAlias type="com.shop.goodee.member.MemberFileVO" alias="MemberFileVO"/>
		<typeAlias type="com.shop.goodee.member.RoleVO" alias="RoleVO"/>
		<typeAlias type="com.shop.goodee.item.ItemVO" alias="ItemVO"/>
		<typeAlias type="com.shop.goodee.item.ItemFileVO" alias="ItemFileVO"/>
		
		<typeAlias type="java.lang.Long" alias="Long"/>
		<typeAlias type="java.lang.String" alias="String"/>
		<typeAlias type="java.lang.Integer" alias="Integer"/>
		<typeAlias type="java.util.List" alias="List"/>
	</typeAliases>
</configuration>