<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
	<typeAliases>
		<!-- 하준 -->
		<typeAlias type="com.shop.goodee.ocr.PurchaseVO" alias="PurchaseVO"/>
		<typeAlias type="com.shop.goodee.ocr.PurchaseFileVO" alias="PurchaseFileVO"/>
		<!-- 하준 -->
	</typeAliases>
</configuration>