.tip{
    fill: black;
    color: white;
    stroke: white;
    stroke-width:1px;
    stroke-radius:5px;
    padding:5px;
    width: 90px;
    height: 25px;
    opacity: 0.1;
}

tspan{
    font-weight: bold;

}


.focus line{
    fill:none;
    stroke :#67809f;
    stroke-width: 1.5px;
    stroke-dasharray:3 3;
}

.monthtip{
    fill: white;
    stroke: black;
    stroke-width:1px;
    stroke-radius:5px;
    padding:5px;
    width: 70px;
    height: 50px;
    opacity: 0.8;
}