#member_list {
    /*  border-bottom: solid 1px lightgray; */
     height: 480px;
     width: 80%;
     margin: 0 auto;
   }



#option{
    margin: 0 auto;
}

#form{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}