html,
body {
  margin: 0;
}

.container {
  flex-flow: row nowrap;
}

/* 사이드바  */
.sidebar {
  height: 520px;
  position: sticky;
  top: 90px;
  width: 300px;
}

.list_top {
  font-size: 23px;
  font-weight: bold;
  color: rgb(52, 88, 52);
}

.list-group li {
  border: none;
  border-radius: 0;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.list-group li:hover {
  background-color: rgba(216, 246, 181, 0.803);
  font-weight: 600;
  cursor: pointer;
}

.board_top {
  font-size: 25px;
  font-weight: bold;
  color: rgb(52, 88, 52);
}

.board_list {
 /*  border-bottom: solid 1px lightgray; */
  height: 480px;
  width: 80%;
}

#title{
  display: flex; 
  /* flex-flow: row wrap; */
  justify-content: space-between;
  border-bottom: solid 1px lightgray;
}

#list a {
  text-decoration: none;
  color: black;
}

tr.colored:hover td{

  background-color:#f3e9e9 !important;

  color:#303f39 !important;

}

.file_drag{
  margin-top: 7px;
  padding: 19px 10px;
  border: 1px solid #e6e6ea;
  border-radius: 5px;
  font-size: 14px;
  color: #767678;
  color: var(--color-sub-info-1);
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
}

#files{
  border-bottom: solid 1px lightgray;
}

.file_list_header{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: solid 1px lightgray;
  padding-bottom: 10px;
}

.fileItem{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#fileList{
  margin-top: 10px;
}

.file_list_header_title{
  padding-top: 7px;
}

.file_list_header_volume{
  padding-top: 7px;
}