html, body {
  margin: 0;
}

.container {
  flex-flow: row nowrap;
}

.sidebar {
  height: 520px;
  position: sticky;
  top: 90px;
  width: 260px;
}



/* 모달창 */
.solid {
   height: 0.1px; 
   width: 120px; 
   border: solid lightgray 0.1px; 
   margin: 20px 12px 0px 12px;
}

.mission_order{
   color: gray; 
   font-size: 15px;
}
