/* 내정보 상세 */
.info_top {
  font-size: 23px;
  font-weight: bold;
  color: rgb(7, 61, 7);
}

.board_box {
  width: 48.5%;
  height: 200px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  padding: 1.2em 2em;
}

.board_box div {
  font-size: 14px;
  margin-bottom: 10px;
  color: rgb(65, 63, 63);
}

/* 파일 */
.file_box{
	position: relative;
	left:50px;
	top: -30px;
}
.file_box i{
	color:skyblue;
}
.file_box i:hover{
	cursor: pointer;
	color: #0000a0;
}

/* 포인트 상세 */
/* 출금신청 버튼 */
#withdraw {
  font-size: 14px;
  background-color: transparent;
  border: 1px solid lightgray;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
}
#withdraw:hover {
  border: 1px solid green;
  color: green;
}
/* 포인트 내역 확인 */
.point_all {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.point_box {
  width: 25%;
}
.fa-circle-info {
  color: rgb(185, 182, 182);
}
.fa-circle-info:hover {
  cursor: pointer;
}
.toggle_box span {
  color: rgb(226, 33, 97);
  font-size: 15px;
  font-weight: bold;
  display: block;
  padding-bottom: 5px;
}

/* 등급 상세보기 */
.grade_top {
  font-size: 20px;
  font-weight: bold;
}

.grade_top span {
  border-bottom: solid 4px rgb(98, 214, 48);
  font-size: 22px;
}


/* 판매자 - 내 상품 */
/* 상품 등록 */
#product {
  font-size: 14px;
  background-color: transparent;
  border: 1px solid lightgray;
  padding: 5px 10px;
  border-radius: 2px;
  margin-left: 13px;
}
#product:hover {
  border: 1px solid green;
  color: green;
}

.product_box{
  width: 470px;
  height: 200px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 10px;
  padding: 1em 1em;
}

.product_request{
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	border: none;
	background-color: white;
	border-radius: 50px;
	font-size: 14px;
	padding: 5px;
}

.product_request:hover{
	background-color: #dcdcdc;
}