@charset "UTF-8";

.campaign {
    border-bottom: 2px solid #1b1d1f;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.campaign-title {
    margin-top: 61px;
    font-weight: 700;
    font-size: 26px;
    line-height: 140%;
    text-align: center;
    letter-spacing: -.03em;
    color: #1b1d1f;
    padding-bottom: 8px;
}


.campaign-content {
    font-weight: 400;
    line-height: 140%;
    text-align: center;
    letter-spacing: -.03em;
    color: #73787e;
    margin-bottom: 61px;
}

.search {
    padding: 40px 15px;
    border-bottom: 1px solid #d8d8d8;
}

.search .available {
    float: left;
    color: #000000A6;
    font-size: 17px;
}


.search .btn {
    float: right;
    border: 0;
    outline: 0;
    padding: 0;
    color: #000000A6;
    font-size: 17px;
}
