html,
body {
  margin: 0;
}

.container {
  flex-flow: row nowrap;
}

/* 사이드바  */
.sidebar {
  height: 520px;
  position: sticky;
  top: 90px;
  width: 300px;
}

.list_top {
  font-size: 17px;
  font-weight: bold;
}

.list-group li {
  border: none;
  border-radius: 0;
  color: rgb(106, 103, 103);
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.list-group li:hover {
  background-color: rgba(216, 246, 181, 0.803);
  font-weight: 600;
  cursor: pointer;
  border-right: solid 3.5px green;
}

/* 프로필 사진 변경 */
.profile_btn{
	border: none;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	padding: 7px 25px;
	background-color: transparent;
}
.profile_btn:hover {
	background-color: #dcdcdc;
	cursor: pointer;
}

/* 포인트출금 폼 */
.join_form {
  width: 100%;
  line-height: 1.5;
  border-radius: 2px;
  transition: all 0.3s;
  height: 43px;
  font-size: 16px;
  position: relative;
  outline: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.select {
	padding-top: 5px;
}
.select input[type=radio]{
    display: none;
}
.select input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    height: 35px;
    width: 120px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 2px;
    line-height: 32px;
    text-align: center;
    font-weight:bold;
    font-size:13px;
}
.select input[type=radio]+label{
    background-color: #fff;
    color: green;
}
.select input[type=radio]:checked+label{
    background-color: green;
    color: #fff;
}


/* 내 계정정보 */
.nickname_box{
	height: 125px;
	width:200px; 
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	border-radius: 4px;
}

/* 퀵메뉴 */
.qick{
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	background-color: transparent;
	border: none;
	width: 60px;
	height: 60px;
	margin: 0px 8px 8px 5px;
	padding: 5px;
	border-radius: 4px;
}
