<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.shop.goodee.mission.MissionMapper">

	<!-- 추첨형 -->
	<insert id="setApply" parameterType="MissionVO">
		INSERT INTO MISSION(MISSIONNUM, ITEMNUM, ID, APPLYDATE, STATUS, MYCAM) VALUES(NULL, #{itemNum}, #{id}, NOW(), 0, 0)
	</insert>
	
	<!-- 즉석추첨형 -->
	<insert id="setApply_baro" parameterType="MissionVO">
		INSERT INTO MISSION(MISSIONNUM, ITEMNUM, ID, APPLYDATE, FINISH, STATUS, MYCAM, TIME, APPLYCOUNT) VALUES(NULL, #{itemNum}, #{id}, NOW(), DATE_ADD(NOW(), INTERVAL 2 HOUR), 0, 1, NOW(), #{applyCount})
	</insert>
	
	<!-- 지원내역 -->
	<select id="getApply" parameterType="MissionVO" resultType="MissionVO">
		SELECT * FROM MISSION WHERE ITEMNUM=#{itemNum} AND ID=#{id}
	</select>
	
	<!-- 중복지원확인 -->
	<select id="getApplyCheck" parameterType="MissionVO" resultType="Long">
		SELECT COUNT(ID) FROM MISSION WHERE ITEMNUM=#{itemNum} AND ID=#{id}
	</select>
	
	<!-- 지원취소 -->
	<update id="setCancel" parameterType="MissionVO">
		UPDATE MISSION SET MYCAM=3 WHERE ID=#{id} and ITEMNUM=#{itemNum}
	</update>
	
	<!-- 네이버 아이디 등록 -->
	<update id="setNicN" parameterType="ReviewVO">
		UPDATE MEMBER SET NICKNAME_N=#{nickName_N} WHERE ID=#{id}
	</update>
	
	<!-- 쿠팡 닉네임 등록 -->
	<update id="setNicC" parameterType="ReviewVO">
		UPDATE MEMBER SET NICKNAME=#{nickName} WHERE ID=#{id}
	</update>
	
	<!-- 미션진행 status 변경(구매하기->리뷰) -->
	<update id="setMiStatus1" parameterType="PurchaseVO">
		UPDATE MISSION SET FINISH=DATE_ADD(APPLYDATE, INTERVAL 14 DAY), STATUS=1 WHERE MISSIONNUM=#{missionNum}
	</update>
	
	<!-- 미션진행 status 변경(리뷰->포인트수령) -->
	<update id="setMiStatus2" parameterType="ReviewVO">
		UPDATE MISSION SET STATUS=2 WHERE MISSIONNUM=#{missionNum}
	</update>
	
	<!-- 모집률 -->
	<select id="getApplyRate" parameterType="MissionVO" resultType="Integer">
		SELECT COUNT(MISSIONNUM) FROM MISSION WHERE ITEMNUM=#{itemNum} AND APPLYCOUNT=#{applyCount}
	</select>
	
	<!-- 구매인증미션 진행중인 회원 -->
	<select id="getStatus0Ing" resultType="MissionVO">
		SELECT * FROM MISSION WHERE STATUS=0 AND MYCAM=1
	</select>
	
	<!-- 미션시간 1분씩 증가(2시간이내 구매인증안하면 자동취소) -->
	<update id="set2hour" parameterType="MissionVO">
		UPDATE MISSION SET TIME=DATE_ADD(TIME, INTERVAL 1 MINUTE) WHERE MISSIONNUM=#{missionNum}
	</update>
	
	<!-- 리뷰인증미션 진행중인 회원 -->
	<select id="getStatus1Ing" resultType="MissionVO">
		SELECT * FROM MISSION WHERE STATUS=1 AND MYCAM=1
	</select>
	
	<!-- 미션시간 1일씩 증가(14일이내 리뷰인증안하면 자동취소) -->
	<update id="set14day" parameterType="MissionVO">
		UPDATE MISSION SET TIME=DATE_ADD(TIME, INTERVAL 1 DAY) WHERE MISSIONNUM=#{missionNum}
	</update>
	
	<!-- 미션 선정 대기 중인 회원 -->
	<select id="getWaiting" parameterType="MissionVO" resultType="MissionVO">
		SELECT * FROM MISSION WHERE STATUS=0 AND MYCAM=0 AND ITEMNUM=#{itemNum}
	</select>
	
	<!-- 추첨형미션 당첨 -->
	<update id="setWin" parameterType="MissionVO">
		UPDATE MISSION SET MYCAM=1 WHERE ID=#{id} and ITEMNUM=#{itemNum}
	</update>
	
	<!-- 포인트 수령 -->
	<update id="setReceivePoint" parameterType="ItemVO">
		UPDATE MEMBER SET POINT=POINT+#{point} WHERE ID=#{id}
	</update>
	
	<!-- 미션완료(MYCAM1->2) -->
	<update id="setEnd" parameterType="MissionVO">
		UPDATE MISSION SET MYCAM=2 WHERE ID=#{id} and ITEMNUM=#{itemNum}
	</update>
	
	<!-- 미션 선정 탈락 -->
	<insert id="setFail" parameterType="MissionVO">
		INSERT INTO MISSION(MISSIONNUM, ITEMNUM, ID, APPLYDATE, STATUS, MYCAM) VALUES(NULL, #{itemNum}, #{id}, NOW(), 0, 3)
	</insert>
	
</mapper>