<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.shop.goodee.mission.MissionMapper">

	<!-- 추첨형 -->
	<insert id="setApply" parameterType="MissionVO">
		INSERT INTO MISSION(MISSIONNUM, ITEMNUM, ID, APPLYDATE, STATUS, MYCAM) VALUES(NULL, #{itemNum}, #{id}, NOW(), 0, 0)
	</insert>
	
	<!-- 즉석추첨형 -->
	<insert id="setApply_baro" parameterType="MissionVO">
		INSERT INTO MISSION(MISSIONNUM, ITEMNUM, ID, APPLYDATE, STATUS, MYCAM) VALUES(NULL, #{itemNum}, #{id}, NOW(), 0, 1)
	</insert>
	
	<!-- 지원내역 -->
	<select id="getApply" parameterType="MissionVO" resultType="MissionVO">
		SELECT * FROM MISSION WHERE ITEMNUM=#{itemNum} AND ID=#{id}
	</select>
	
	<!-- 중복지원확인 -->
	<select id="getApplyCheck" parameterType="MissionVO" resultType="Long">
		SELECT COUNT(ID) FROM MISSION WHERE ITEMNUM=#{itemNum} AND ID=#{id}
	</select>
	
	<!-- 지원취소 -->
	<update id="setCancel" parameterType="MissionVO">
		UPDATE MISSION SET MYCAM=3 WHERE ID=#{id} and ITEMNUM=#{itemNum}
	</update>
	
	<!-- 네이버 닉네임 등록 -->
	<update id="setNicN" parameterType="PurchaseVO">
		UPDATE MEMBER SET NICKNAME_N=#{nickname_n} WHERE ID=#{id}
	</update>
	
	<!-- 쿠팡 닉네임 등록 -->
	<update id="setNicC" parameterType="PurchaseVO">
		UPDATE MEMBER SET NICKNAME=#{nickname} WHERE ID=#{id}
	</update>
	
	<!-- 미션진행 status 변경(구매하기->리뷰) -->
	<update id="setMiStatus1" parameterType="MissionVO">
		UPDATE MISSION SET STATUS=1 WHERE MISSIONNUM=#{missionNum}
	</update>
	
	<!-- 미션진행 status 변경(리뷰->포인트수령), 미션완료 -->
	<update id="setMiStatus2" parameterType="MissionVO">
		UPDATE MISSION SET STATUS=2, MYCAM=2 WHERE MISSIONNUM=#{missionNum}
	</update>
	
</mapper>