<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.shop.goodee.pay.PayMapper">
	
	<select id="aleadyPayCheck" parameterType="PayVO" resultType="PayVO">
		SELECT *
		FROM PAY
		WHERE ID=#{id} AND PAYNAME=#{payName}
		ORDER BY PAYDATE
		LIMIT 0,1;
	</select>
	
	<select id="sellerCheck" parameterType="SellerVO" resultType="SellerVO">
		SELECT * FROM SELLER WHERE ID=#{id}
	</select>
	
	<insert id="setSeller" parameterType="PayVO">
		INSERT INTO MEMBER_ROLE VALUES(#{id},2)
	</insert>
	
	<insert id="setVIP" parameterType="PayVO">
		INSERT INTO MEMBER_ROLE VALUES(#{id},3)
	</insert>
	
	<insert id="setPay" parameterType="PayVO">
		INSERT INTO PAY VALUES(null,#{id},#{payMethod},#{amount},now(),DATE_ADD(PAYDATE, INTERVAL 1 MONTH),#{orderNum},#{payName},now())
	</insert>
	
	
	
</mapper>