<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.goodee.seller.SellerMapper">

	<insert id="setSellerAdd" parameterType="SellerVO">
		INSERT INTO SELLER VALUES(#{id},#{roleNum},#{company})
	</insert>

	<select id="getSellerList" resultType="SellerVO">
	
		SELECT M.ID, M.NAME, M.EMAIL, M.PHONE, S.COMPANY
		FROM SELLER S
		LEFT JOIN MEMBER_ROLE MR
		ON S.ID=MR.ID
		INNER JOIN MEMBER M
		ON MR.ID=M.ID
		WHERE S.STATUS=0

	</select>
</mapper>