<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.goodee.seller.SellerMapper">

	<select id="getAcceptPhone" resultType="MemberVO" parameterType="SellerVO">
		SELECT *
		FROM SELLER S
		INNER JOIN MEMBER M
		USING(ID)
		WHERE ID=#{id}
	</select>
	
	<select id="getAdminPhone" resultType="MemberVO">
		SELECT M.PHONE 
		FROM MEMBER M
		INNER JOIN MEMBER_ROLE MR
		USING(ID)
		WHERE MR.ROLENUM=1;
	</select>

	<select id="getApproveSeller" resultType="SellerVO">
		SELECT *
		FROM seller s
		LEFT JOIN MEMBER_ROLE mr
		ON s.id=mr.id
		INNER JOIN MEMBER m
		ON mr.id=m.id
		WHERE mr.RoleNum=2
		LiMIT #{startRow},#{perPage}
	</select>


	<select id="getTotalCount" parameterType="Pager" resultType="Long">
		SELECT COUNT(*)
		FROM seller s
		LEFT JOIN MEMBER_ROLE mr
		ON s.id=mr.id
		INNER JOIN MEMBER m
		ON mr.id=m.id
		WHERE S.STATUS=#{status} AND MR.ROLENUM=#{roleNum}
	</select>

	<insert id="setSellerAdd" parameterType="SellerVO">
		INSERT INTO SELLER VALUES(#{id},#{company},0)
	</insert>
	<select id="getWaitList" parameterType="Pager" resultType="SellerVO">
		SELECT M.ID, M.NAME,
		M.EMAIL, M.PHONE, S.COMPANY, S.STATUS
		FROM SELLER S
		LEFT JOIN
		MEMBER_ROLE MR
		ON
		S.ID=MR.ID
		INNER JOIN MEMBER M
		ON MR.ID=M.ID
		WHERE
		S.STATUS=#{status} AND MR.ROLENUM=#{roleNum}
		LIMIT #{startRow},#{perPage}
	</select>
	<select id="getAcceptList" parameterType="Pager" resultType="SellerVO">
		SELECT M.ID, M.NAME,
		M.EMAIL, M.PHONE, S.COMPANY, S.STATUS
		FROM SELLER S
		LEFT JOIN
		MEMBER_ROLE MR
		ON
		S.ID=MR.ID
		INNER JOIN MEMBER M
		ON MR.ID=M.ID
		WHERE
		S.STATUS=#{status} AND MR.ROLENUM=#{roleNum}
		LIMIT #{startRow},#{perPage}
	</select>
	<select id="getPayList" parameterType="Pager" resultType="SellerVO">
		SELECT M.ID, M.NAME, M.EMAIL, M.PHONE, S.COMPANY, S.STATUS
		FROM SELLER S
		LEFT JOIN
		MEMBER_ROLE MR
		ON S.ID=MR.ID
		INNER JOIN MEMBER M
		ON MR.ID=M.ID
		WHERE
		S.STATUS=#{status} AND MR.ROLENUM=#{roleNum}
		LIMIT #{startRow},#{perPage}
	</select>
	<update id="setWait" parameterType="SellerVO">
		UPDATE SELLER SET STATUS=1 WHERE ID=#{id}
	</update>
	
	<delete id="setWaitNo" parameterType="SellerVO">
		DELETE FROM SELLER WHERE ID=#{id}
	</delete>
	
	<insert id="setAccept">
		INSERT INTO MEMBER_ROLE VALUES(#{id},2)
	</insert>
	
	<update id="setAcceptNo" parameterType="SellerVO">
		UPDATE SELLER SET STATUS=0 WHERE ID=#{id}
	</update>
	
	<delete id="setPayNo">
		DELETE FROM MEMBER_ROLE WHERE ID=#{id} AND ROLENUM=2
	</delete>
</mapper>